.App {
  text-align: center;
  margin-top: 75px;
}

.word {
  font-size: 60px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.english {
  font-size: 30px;
  margin-bottom: 20px;
}

.buttons {
  margin-top: 20px;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
}

button.pass {
  background-color: #04AA6D;
}

button.fail {
  background-color: red;
}


